
body {
	background-color: black;
	font:14px 'Courier';
}

div#all {
	width: 1240px
}

div#top {
/*	width: 20%;*/
	display: flow-root;
	min-width: 350px;
	border: 1px solid white;
	padding: 2px;
}

div#bottom {
/*	width: 20%;*/
/*	min-width: 550px;*/
	display: flow-root;
	text-align:center;
	border: 1px solid white;
	padding: 2px;
}

div#middle {
/*	width: 59%;*/
	text-align:center;
	border: 1px solid white;
	min-width: 540px;
	display: block;
}
canvas {
	border: 1px solid gray; 
	background-repeat: no-repeat;
	display: none;
}
div#simControl {
	border: 1px solid white;
	float:left;
}

div#simLeft {
	border: 1px solid white;
	float:left;
	margin: 1px;
	padding: 2px;
	color: white;
	width: 300px;
	text-align: left;
}
div#simRight {
	border: 1px solid white;
	margin: 1px;
	padding: 2px;
	float:right;
	color:white;
	width: 300px;
	text-align: left;
}

.simControl {
/*	border: 1px solid white;*/
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;;
	float: left;
	min-width: 300px;	
}
.simControl a {
	font-size: 20px;
	color: white;
	border: 1px solid white;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
}

/* table alignment */
.left {
	display: block;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}
.unit {
	width: 6em;
	text-align: right;
}

/* satellite */
.satellite {
	border: 1px solid black;
	margin: 1px;
	padding: 2px;
	float: left;
	min-width: 300px;
}
.notinview {
	background-color: cornflowerblue;
	color: white;
}
.inview {
	background-color: palegoldenrod;
	color: black;
}

/* customer */
.customer {
	border: 1px solid black;
	margin: 1px;	
	padding: 2px;
	min-width: 300px;
	float: left;
}
.inshadow {
	background-color: darkgray;
	color: white;
}
.notinshadow {
	background-color: lightgray;
	color: black;
}